body{
    background-color: #EDF1E2;
}

.account{
    margin: 2vw 10vw;
}

.account-offer{
    border: 1px solid black;
    border-radius: 35px;
}

.account-offer-display{
    height: 12vw;
    text-align: center;
}

.account-offer-wordings{
    overflow: hidden;
    text-align: center;
    height: 3vw;
    border-top: 2px solid black;
}

.review-button{
    margin: 4vw 0vw;
    text-align: right;
}

.review-button button{
    padding: 0.5vw;
}

.account-grid-border{
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.account-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4vw;
}

.account-gird-images{
    height: 11vw;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.account-gird-names{
    height: 3vw;
    border-top: 2px solid black;
    justify-content: center;
    align-items: center;
    filter: blur(0.3px);
}

.back-icon{
    font-size: 3.5vw;
}

.back-icon:hover{
    cursor: pointer;
}

.link-style{
    text-decoration: none;
    color: black;
}

/* Profile page styles */

.personal-data{
    margin: 1.5vw 12vw;
    border: 2px solid black;
    border-radius: 5vw;
    /* background: linear-gradient(to right, #4E6DA0 0.5px, transparent 1px),
            linear-gradient(to bottom, #4E6DA0 0.5px, transparent 1px),
            #EA9A3C;
    background-size: 26px 26px; */
    background-color: #EA9A3C;
}

.general-data{
    margin: 2vw 3vw;
    border: 2px solid black;
    border-radius: 1.5vw;
    background: linear-gradient(to right, rgb(223, 209, 169, 0.4) 1px, transparent 1px),
            linear-gradient(to bottom, rgb(223, 209, 169, 0.4) 1px, transparent 1px),
            #F8F5ED;
    background-size: 2vw 2vw;
}

.general-data-content{
    margin: 0vw 8vw;
    justify-content: space-between;
}

.site-data{
    justify-content: space-between;
    margin: 1vw 14vw;
}