.flex {
  display: flex;
}

.DosaItems{
  overflow-x:scroll;
  scrollbar-width: none;
}

.offers{
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  height: 13vw;
  margin-top: 4vw;
  margin-bottom: 2vw;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}

.offerText{
  margin-left: 15vw;
}

.Itemsgrid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 4vw 10vw;
  margin: 5vh 15vh;
}

.itembox{
  border: 2px solid black;
  text-align: center;
  border-radius: 5px;
}

.DishImage {
  height: 20vw;
}

.ItemImage {
  height: 10vw;
}