.Navbar{
  display: flex;
  justify-content: space-between;
}

#navbar {
  background-color: white;
  position: sticky;
  z-index: 2;
  top: 0;
  width: 100%;
  transition: top 0.6s;
  border-bottom: 2px solid black;
}

#navbar #a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  text-decoration: none;
}

#a{
  padding: 0vw 1vw;
}

#navbar #a:hover {
  background-color: #333333;
  color: white;
}

Link{
  text-decoration: none;
  color: white;
}

.Navbar a {
  text-decoration: none;
  color: inherit;
}

.bag-account{
  font-size: 1.2rem;
}