.mainForm {
    border: 1px solid black;
    border-radius: 15px;
    width: max-content;
    padding: 2vw 2vw 1vw 2vw;
    position: absolute;
    left: 0;
    right: 0;
    margin:auto;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

input {
    padding: 1vw;
    background-color: #eeecee;
    border: 1px solid grey;
    border-radius: 5px;
    color: black;
    width: 25vw;
}

.input-element {
    flex-direction: column;

}

.registerbtn {
    text-align: center;
}

.register {
    margin: 2vw 0vw 1vw 0vw;
    padding: 1vw 3.5vw;
    color: white;
    background-color: #41a445;
}

.error-msg {
    color: red;
}

.success {
    color: white;
    background-color: rgb(79, 189, 226);
    padding: 1vw;
    font-size: 1rem;
}

.form-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1vw 3vw;
}

label{
    margin: 0 0 0.5vw 0.5vw;
}